h1, h2 {
    /*font-family: Courier;*/
    font-weight: 200;
    margin: 0.4rem;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2rem;
    color: #aaa;
  }
  
  /* Cursor */
  .txt-type > .txt {
    border-right: 0.2rem solid #777;
  }
/*
#titre #__bienvenue {
    border: 3px rgb(36, 225, 250) ridge;
}
*/
.card-body h5, .card-body h3, .mask h3{
    font-family: Courier; 
    font-weight: bold;
}
.mask h3{
    color: white;
}

.portfolio_img{
    margin: 2px 0 2px 0;
    padding: 0 2px 0 2px;
}

/* Pour les petits ecrans */
@media screen and (max-width: 768px) {
    #description_gd_ecrans {
      display: none;
    }
    .valeurs_carousel {
        font-size: 2em;
        color:  white ;
    }
    .texte_carousel {
        font-size: 0em;
    }
  }

@media screen and (min-width: 900px) and (max-width: 1200px) {
    #presentation {
        font-size: 3em;
    }
  }
  

/* Pour les Grands ecrans */
@media screen and (min-width: 769px) {
    #description_pt_ecrans {
      display: none;
    }
    .valeurs_carousel {
        font-size: 4em;
        color:  white ;
        
    }
    .texte_carousel {
        font-size: 1.5em;
        color:  white ;
    }
  }
  .logoLanguages {
    height: 8rem;
    width: 8rem;
}

.minilogoLanguages {
  height: 3rem;
  width: 3rem;
}