h1, h2 {
    /*font-family: Courier;*/
    font-weight: 200;
    margin: 0.4rem;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2rem;
    color: #aaa;
  }
  
  /* Cursor */
  .txt-type > .txt {
    border-right: 0.2rem solid #777;
  }
/*
#titre #__bienvenue {
    border: 3px rgb(36, 225, 250) ridge;
}
*/
.card-body h5, .card-body h3, .mask h3{
    font-family: Courier; 
    font-weight: bold;
}
.mask h3{
    color: white;
}

.portfolio_img{
    margin: 2px 0 2px 0;
    padding: 0 2px 0 2px;
}

/* Pour les petits ecrans */
@media screen and (max-width: 768px) {
    #description_gd_ecrans {
      display: none;
    }
    .valeurs_carousel {
        font-size: 2em;
        color:  white ;
    }
    .texte_carousel {
        font-size: 0em;
    }

    #cards{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .legende{
      font-size: 1em;
    }
    #parcoursGdMoyensEcrans{
      display: none;
    }
  }


  
@media screen and (min-width: 900px) and (max-width: 1200px) {
    #presentation {
        font-size: 3em;
    }
  }
  

/* Pour les Grands ecrans */
@media screen and (min-width: 769px) {
    #description_pt_ecrans {
      display: none;
    }
    .valeurs_carousel {
        font-size: 4em;
        color:  white ;
        
    }
    .texte_carousel {
        font-size: 1.5em;
        color:  white ;
    }

    #parcoursPetitsEcrans{
      display: none;
    }
    
    #parcoursGdMoyensEcrans{
      display: flex;
      justify-content: center;
    
    }
    

  }
  .logoLanguages {
    height: 8rem;
    width: 8rem;
    
}

.minilogoLanguages {
  height: 3rem;
  width: 3rem;
}

p {
   text-align: justify;
   text-justify: inter-word;
   }

#japan_flag{
  border: 0.01px solid rgba(62, 58, 75, 0.657);
  border-radius: 50%; 
}

#formulaireContact{
  display:none;
}


.logoLanguages{
  margin: 3px;
}

.carousel .carousel-inner #carouselBasicExample #valeurs{
  width: 100%;
}

#svgMap{
  width: 100%;
  height: auto;
}

#svgMap-map-country-BR{
  fill:rgb(15, 122, 81);
}

#svgMap-map-country-FR, #svgMap-map-country-JP{
  fill:rgb(11, 64, 240);
}


#svgMap-map-country-GB, #svgMap-map-country-ES{
  fill:rgb(241, 118, 17);
}

#bleu_map{
  color: rgb(11, 64, 240);
  
}

#orange_map{
  color: rgb(241, 118, 17);
}

#rouge_map{
  color: #cc0033;
}

#vert_map{
  color :rgb(15, 122, 81);
}

.legende{
  margin-left: 10px;
  margin-right: 10px;
}

#carte_legende{
  width: 90%;
}
